<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title> {{ title }} </title>
    <style>
        body {
            background-color: #e9e9e9
        }

        html, body, main{
            margin: 0;
            height: 100%;
        }
    </style>

</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Каланбиржа</a>
        {% if current_user.is_authenticated %}
            <a style="margin-left: 80%; margin-right: 10px"> {{ current_user.nickname }}</a>
            <a class="navbar-brand" href="/logout">выйти</a>
        {% else %}
            <p>
                <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
                <a class="btn btn-success" href="/login">Войти</a>
            </p>
        {% endif %}
    </nav>
</header>
<!-- Container -->
<main role="main">
    {% block content %}
    {% endblock %}
</main>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>

    $(document).ready(function () {


        $("#myModal").modal('show');
        $('#create_room').click(function () {

            //$('#create_room_result').text('Создана комната ' + $('#room_name').val());
            $('#create_room_result').load('http://0.0.0.0:5000/create_room/' + $('#room_name').val() + "/" + $('#creator_id').text());
            //console.log($('#name').text())
            //$('#create_room_result').text('main.php?name=');

        });

        function refresh_rooms() {

            setTimeout(function () {
                $('#list_rooms').load('list_rooms.php');

                refresh_rooms();

            }, 5000);

        }


//refresh_rooms();


        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Кнопка, что спровоцировало модальное окно
            var recipient = button.data('whatever') // Извлечение информации из данных-* атрибутов
            // Если необходимо, вы могли бы начать здесь AJAX-запрос (и выполните обновление в обратного вызова).
            // Обновление модальное окно Контента. Мы будем использовать jQuery здесь, но вместо него можно использовать привязки данных библиотеки или других методов.
            var modal = $(this)
            modal.find('.modal-title').text('Новая комната')
            modal.find('.modal-body input').val(recipient)
        })
    });


</script>
</body>
</html>