<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title> {{ title }} </title>
    <style>
        body {
            background-color: #2b2b2b;
        }

        html, body, main {
            margin: 0;
            height: 55%;
        }
    </style>

</head>
<header style="position: -webkit-sticky;
               position: sticky;
               top: 0;
                z-index: 2;">
    <nav class="navbar navbar-light" style="background-color: #3c3f41;">
        <div style="height: 100%">
            {% if current_user.is_authenticated %}
                <a class="navbar-brand" href="/rooms" style="color: white;
                                                    float: left;
                                                    margin-left: 0px;
                                                    padding-right: 15px;
                                                    border-right-width: 2px;
                                                    border-right-style: solid;
                                                    border-right-color: #2b2b2b;">
                    <img src="https://i.ibb.co/WBbGHq3/logo.png" width="30" height="30" class="d-inline-block align-top"
                         alt="">
                    <span style="margin-left: 10px">Каланбиржа</span>
                </a>
                <a style="color: gray; margin-left: 0px; float: left; margin-top: 1.5%; font-weight: 300; text-decoration: none;"
                   href="/rooms"> список комнат </a>
            {% endif %}
            {% if not current_user.is_authenticated %}
                <a class="navbar-brand" href="/home" style="color: white;
                                                    float: left;
                                                    margin-left: 0px;
                                                    padding-right: 15px;
                                                    border-right-width: 2px;
                                                    border-right-style: solid;
                                                    border-right-color: #2b2b2b;">
                    <img src="https://i.ibb.co/WBbGHq3/logo.png" width="30" height="30" class="d-inline-block align-top"
                         alt="">
                    <span style="margin-left: 10px">Каланбиржа</span>
                </a>
            {% endif %}
            <a style="color: gray; margin-left: 10px; float: left; margin-top: 1.5%; font-weight: 300; text-decoration: none;"
               href="/"> новости </a>
            <a style="color: gray; margin-left: 10px; float: left; margin-top: 1.5%; font-weight: 300; text-decoration: none;"
               href="/devs"> разработчики </a>
        </div>
        <form class="form-inline">
            {% if current_user.is_authenticated %}
                <a style="color: white; margin-right: 15px"> {{ current_user.nickname }}</a>
                <!-- <a class="btn btn-outline-light" style="margin-right: 10px" href="/rooms">играть</a> -->
                <a class="btn btn-outline-light" style="" id="ex" href="/logout">выйти</a>
            {% else %}
                <a class="btn btn-outline-light" href="/register" style="margin-right: 10px">Зарегистрироваться</a>
                <a class="btn btn-outline-light" href="/login">Войти</a>
            {% endif %}
        </form>
    </nav>
</header>

<!-- <img src="https://i.ibb.co/WBbGHq3/logo.png" style="width: 40%; margin-left: 30%; margin-top: 5%; opacity: 0.1; z-index: 5;"> -->
<!-- Container -->
<main role="main">
    {% block content %}
    {% endblock %}
</main>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>

    $(document).ready(function () {

        $("#myModal").modal('show');
        $('.del').click(function () {
            window.location.replace('/delete_room/' + $(this).attr('id'));

        })
        $('#create_room').click(function () {
            //$('#create_room_result').text('Создана комната ' + $('#room_name').val());
            window.location.replace('/create_room/' + $('#room_name').val() + "/" + {{ current_user.id }});
            //console.log($('#name').text())
            //$('#create_room_result').text('main.php?name=');

        });

        function refresh_rooms() {

            setTimeout(function () {
                $('#list_rooms').load('list_rooms.php');

                refresh_rooms();

            }, 5000);

        }


//refresh_rooms();


        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Кнопка, что спровоцировало модальное окно
            var recipient = button.data('whatever') // Извлечение информации из данных-* атрибутов
            // Если необходимо, вы могли бы начать здесь AJAX-запрос (и выполните обновление в обратного вызова).
            // Обновление модальное окно Контента. Мы будем использовать jQuery здесь, но вместо него можно использовать привязки данных библиотеки или других методов.
            var modal = $(this)
            modal.find('.modal-title').text('Новая комната')
            modal.find('.modal-body input').val(recipient)
        })
    });


</script>
</body>
</html>