<!doctype html>
 <html lang="en">
 <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet"
           href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
           integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
           crossorigin="anonymous">
     <title> {{ title }} </title>
     <style>
         .main, body, html{
             height: 100%;
             width: 100%;
         }
         #players{
             width: 60%;
             height: 15%;
             background-color: #a886c8;
         }
     </style>
 </head>
 <body>
{% for player in players %}
    <h1> {{ player.nickname }} </h1>
 {% endfor %}
 <div class="main">
     <div id="players">

     </div>
 </div>
 </body>
 </html>