{% extends "base.html" %}

{% block content %}


<div class="bd-example">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title" id="exampleModalLabel">Новая комната</h4>

        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="room_name" class="form-control-label">Название:</label>
              <input type="text" class="form-control" id="room_name">
                <label for="room_name" class="form-control-label">ID создателя:</label>
                <label id="creator_id">{{ current_user.id }}</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          <button type="button" class="btn btn-primary" id="create_room">Создать</button>

          <div id="create_room_result">-</div>
        </div>
      </div>
    </div>
  </div>
</div>
    {% if current_user.is_authenticated %}
        <button style="margin-left: 90%; margin-top: 10px"  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Создать комнату</button>
        <br>
        <br>
        {% for room in rooms %}
            <div class="col-md6 border rounded">
                <div class="card">
                    <h5 class="card-header">{{ room.title }} creator: {{ room.creator }}</h5>
                    <div class="card-body">
                        <h5 class="card-title">{{ room.players }}</h5>
                        <a href="{{'/connect_to_room/' + room.id|string + '/' + current_user.id|string}}" class="btn btn-primary">Присоединится</a>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
    {% endif %}


{% endblock %}