{% extends "base.html" %}

{% block content %}
    <button style="margin-left: 90%; margin-top: 10px" type="button" class="btn btn-primary" data-toggle="modal"
            data-target="#exampleModal">выйти
    </button>



    <div id="p2" style="background-color: #98703a; float: left; width: 100%; height: 15%">

    </div>


    <div id="p1" style="background-color: aqua; float: left; height: 70%; width: 10%">

    </div>


    <div id="field" style="background-color: #f91111; height: 70%;float: left; width: 80%">

    </div>


    <div id="p3" style="background-color: #5ace6d; float: left; height: 70%; width: 10%">

    </div>


    <div id="p4" style="background-color: #623089; float: right; width: 100%; height: 15%">

    </div>






{% endblock %}