{% extends "base.html" %}

{% block content %}


    <div>
        <h1 style="float: left">{{ players }}</h1>
        <button style="margin-left: auto; margin-right: 20px; margin-top: 10px; float: right" type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#exampleModal">выйти
        </button>
    </div>



    <div id="p2" style="background-color: #98703a; float: left; width: 100%; height: 15%">
        {% if len(players) %}
        <div style="width: 50%; height: 100%; margin-left: auto; margin-right: auto">
            <table style="border: 10px double black; width: 100%; height: 100%">
                <tr style=" width: 100%; height: 100%">
                    <td>
                        <img src="https://yt3.ggpht.com/ytc/AAUvwng-3d-BcGfaNN09TTsLOoFfVhCT96sjcPQeJzQ2iQ=s900-c-k-c0x00ffffff-no-rj"
                             style="height: 100px">
                    </td>
                    <td>
                        <h3>ник игрока </h3>
                    </td>
                    <td>
                        <h3>деньги игрока </h3>
                    </td>
                    <td>
                        <h3>акции</h3>
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <div id="p1" style="background-color: aqua; float: left; height: 70%; width: 10%">
        <table style="border: 10px double black; width: 100%; height: 100%">
            <tr>
                <td>
                    <img src="https://yt3.ggpht.com/ytc/AAUvwng-3d-BcGfaNN09TTsLOoFfVhCT96sjcPQeJzQ2iQ=s900-c-k-c0x00ffffff-no-rj"
                         style="height: 100px">

                </td>
            </tr>
            <tr>
                <td>
                    <h3>ник игрока </h3>

                </td>
            </tr>
            <tr>
                <td>
                    <h3>деньги игрока </h3>

                </td>
            </tr>
            <tr>
                <td>
                    <h3>акции</h3>

                </td>
            </tr>
        </table>
    </div>


    <div id="field" style="background-color: #f91111; height: 70%;float: left; width: 80%">

    </div>


    <div id="p3" style="background-color: #5ace6d; float: left; height: 70%; width: 10%">
        <table style="border: 10px double black; width: 100%; height: 100%">
            <tr>
                <td>
                    <img src="https://yt3.ggpht.com/ytc/AAUvwng-3d-BcGfaNN09TTsLOoFfVhCT96sjcPQeJzQ2iQ=s900-c-k-c0x00ffffff-no-rj"
                         style="height: 100px">

                </td>
            </tr>
            <tr>
                <td>
                    <h3>ник игрока </h3>

                </td>
            </tr>
            <tr>
                <td>
                    <h3>деньги игрока </h3>

                </td>
            </tr>
            <tr>
                <td>
                    <h3>акции</h3>

                </td>
            </tr>
        </table>
    </div>


    <div id="p4" style="background-color: #623089; float: right; width: 100%; height: 15%">
        <div style="float: left; width: 400px; background-color: #a886c8">

            тут какие нибудь кнопки типo купить
        </div>
        <div style=" width: 50%; height: 100%; float: right">
            <table style="border: 10px double black; width: 100%; height: 100%">
                <tr style=" width: 100%; height: 100%">
                    <td>
                        <img src="https://yt3.ggpht.com/ytc/AAUvwng-3d-BcGfaNN09TTsLOoFfVhCT96sjcPQeJzQ2iQ=s900-c-k-c0x00ffffff-no-rj"
                             style="height: 100px">
                    </td>
                    <td>
                        <h3>ник игрока </h3>
                    </td>
                    <td>
                        <h3>деньги игрока </h3>
                    </td>
                    <td>
                        <h3>акции</h3>
                    </td>
                </tr>
            </table>
        </div>
    </div>






{% endblock %}